.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.cabecalho__menu {
    width: 36px;
    height: 24px;
    background-image: url("../Fotos/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

}


.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}



.lista-menu__titulo,
.lista-menu__itens {
    background-color: var(--branco);
    padding: 1em;

}

.lista-menu__titulo {
    color: #EB9B00;
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.opcoes-botao:checked~.lista-menu {
    display: block;
    width: auto;
}

.opcoes-botao {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo-negrito {
        font-family: 'Josefin Sans';
        font-size: 30px;
        font-weight: 400;
    }

    .container__titulo {
        display: block;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: block;
        display: flex;
    }

    .opcoes__item {
        padding: 0 1rem;
        text-transform: uppercase;
    }

    .opcoes__links {
        text-decoration: none;
        color: black;
    }

    .coracao {
        display: none;
    }

    .cabecalho__menu {
        display: none;
    }

}


@media screen and (min-width: 1728px) {

    .texto-icones {
        display: block;
    }

}